*{
  font-family: 'Raleway', sans-serif; 
}

.separador{
	border-radius: 2px;
	height: 1px;
	width: 100%;
	margin: 15px 15px;
	background: #aaaaaa77;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
}