*{
  font-family: 'Raleway', sans-serif; 
}

.separador{
	border-radius: 2px;
	height: 1px;
	width: 100%;
	margin: 15px 15px;
	background: #aaaaaa77;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-scrollbar {
  background: #11111177;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #00cae9;
}

::selection {
  background: var(--color);
}
